@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.mouse {
  height: 10px;
  width: 10px;
  background-color: red;
  position: relative;
  z-index: 99999999999;
}

.btn {
  background-color: transparent;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
}
.btn:hover {
  border: 2px solid black;
  background-color: white;
  color: black !important;
}

.stkyclas {
  position: sticky;
  top: 0;
  z-index: 88;
  background-color: transparent !important;
}

.manucalss {
  display: flex !important;
}

.navhight {
  height: 100% !important;
  background-color: #101213 !important;
}

.visvislity {
  display: block !important;
}

.wrapper {
  background-color: #101213;
  overflow: hidden;
}
.wrapper .mouse {
  height: 20px;
  width: 20px;
  position: relative;
  top: 0px;
  z-index: 999999;
  left: 0px;
  border-radius: 100%;
  background-color: #eda900;
  transition: all 0.2s;
}
.wrapper .sidelinkone {
  position: fixed;
  right: 0px;
  bottom: 29px;
  transform: rotate(90deg);
  font-size: 23px;
  font-weight: 800;
  color: white;
  z-index: 22;
}
.wrapper .sidelinktwo {
  position: fixed;
  left: -7px;
  bottom: 55px;
  transform: rotate(270deg);
  font-size: 23px;
  font-weight: 800;
  color: white;
  z-index: 22;
}
.wrapper .nav_bar {
  padding: 29px 30px;
  display: flex;
  flex-direction: column;
  background-color: #101213;
  color: white;
  padding-bottom: 0px;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  height: 14%;
  z-index: 1;
  display: flex;
  box-shadow: 1px 6px 25px -18px rgba(61, 50, 50, 0.4);
}
.wrapper .nav_bar .navbartop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .nav_bar .navbartop .barand h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.wrapper .nav_bar .navbartop .logos {
  display: flex;
}
.wrapper .nav_bar .navbartop .logos i {
  font-size: 22px;
}
.wrapper .nav_bar .navbartop .logos .logobx {
  padding-left: 30px;
  transition: 0.7s;
}
.wrapper .nav_bar .navbartop .logos .logobx .bar {
  display: block;
}
.wrapper .nav_bar .navbartop .logos .logobx .cross {
  display: none;
}
.wrapper .nav_bar .navbarmau {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: none;
}
.wrapper .nav_bar .navbarmau p {
  font-size: 29px;
  line-height: 31px;
}
.wrapper .nav_bar .navbarmau .socialmedia {
  padding: 20px 9px;
  font-size: 20px;
}
.wrapper .nav_bar .navbarmau .socialmedia i {
  padding-left: 10px;
  font-size: 16px;
}
.wrapper .banner {
  background-color: #101213;
  color: white;
  padding-top: 60px !important;
  padding: 20px;
}
.wrapper .banner .bannertxt {
  padding-top: 100px;
}
.wrapper .banner .bannertxt h1 {
  font-size: 6rem;
  line-height: 90px;
  font-weight: 700;
}
.wrapper .banner .bannertxt .btn {
  margin-top: 10%;
  border: 2px solid white;
  color: white;
}
.wrapper .banner .bannerimage {
  padding-top: 100px;
}
.wrapper .banner .bannerimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .textareabx {
  padding: 40px;
  background-color: #101213;
  padding-top: 15%;
  padding-bottom: 15%;
}
.wrapper .textareabx p {
  font-size: 1.7rem;
  color: white;
}
.wrapper .sideone {
  background-color: #101213;
  padding-bottom: 15%;
}
.wrapper .sideone .sideoneimg {
  position: relative;
}
.wrapper .sideone .sideoneimg .sidetxt {
  position: absolute;
  left: -173px;
  transform: rotate(270deg);
  top: 113px;
  color: white;
  font-size: 1.8rem;
}
.wrapper .sideone .sideoneimg img {
  width: 100%;
  height: 100%;
}
.wrapper .sideone .sidetwotext h2 {
  color: white;
  font-size: 6rem;
  padding: 10px;
  font-weight: 700;
  line-height: 0.9;
}
.wrapper .sideone .sidetwotext button {
  margin: 10px;
  margin-top: 2rem;
  color: white;
  border: 2px solid white;
}
.wrapper .sidetwo .container {
  border-top: 1px solid white;
  padding-top: 15%;
}
.wrapper .sidetwo .sidetwotext h1 {
  font-size: 7rem;
}
.wrapper .sidetwo .sidetwotext span {
  font-size: 3rem;
  color: white;
  line-height: 0.9;
  display: inline-block;
  padding: 13px 11px;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}
.wrapper .sidetwo .sidetwotext span:nth-child(4) {
  color: white;
  font-size: 1.5rem;
  padding-top: 40px;
  border: none;
  padding-bottom: 7px;
  line-height: 1;
}
.wrapper .sidethree {
  color: white;
  background-color: #101213;
  padding-top: 15%;
}
.wrapper .sidethree .sidetwotext {
  position: relative;
}
.wrapper .sidethree .sidetwotext h2:nth-child(2) {
  font-size: 3.5rem;
  line-height: 0;
}
.wrapper .sidethree .sidetwotext h2:nth-child(3) {
  font-size: 7rem;
  padding-top: 5%;
  position: relative;
  padding-bottom: 4%;
}
.wrapper .sidethree .sidetwotext h2:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: white;
  bottom: 0px;
  left: 15px;
}
.wrapper .sidethree .sidetwotext .sidetxt {
  position: absolute;
  left: -155px;
  transform: rotate(270deg);
  top: 68px;
  font-size: 1.8rem;
}
.wrapper .sidethree .sidetwotext .para {
  margin-top: 9%;
  font-size: 3rem;
}
.wrapper .sidethree .sidetwotext .ponts {
  margin-top: 9%;
}
.wrapper .sidethree .sidetwotext .ponts .pntsbx {
  display: flex;
  gap: 50px;
  margin-bottom: 4%;
  align-items: center;
}
.wrapper .sidethree .sidetwotext .ponts .pntsbx .pntsbxtwo span {
  font-weight: 800;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.wrapper .spotlight {
  position: relative;
  background-color: #ff5430;
  padding-bottom: 15%;
}
.wrapper .spotlight .col-md-spitbx {
  text-align: center;
  color: white;
}
.wrapper .spotlight .col-md-spitbx img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 3%;
}
.wrapper .spotlight .col-md-spitbx h4 {
  font-size: 1.7rem;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
}
.wrapper .spotlight .col-md-spitbx span {
  font-weight: 700;
}
.wrapper .spotlight .spitbxone {
  position: relative;
}
.wrapper .spotlight .spitbxone .sidetxt {
  left: -133px;
  transform: rotate(270deg);
  top: 51px;
  font-size: 1.8rem;
  color: white;
  position: absolute;
}
.wrapper .history {
  background-color: white;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}
.wrapper .history a {
  text-decoration: none;
}
.wrapper .history .title {
  padding-bottom: 20px;
}
.wrapper .history .title h5 {
  font-size: 5rem;
  padding-bottom: 20px;
  font-weight: 600;
  color: #303133;
}
.wrapper .history .historybox .imgthumb {
  height: 243px;
}
.wrapper .history .historybox .imgthumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.wrapper .history .historybox p {
  font-size: 23px;
  font-weight: 500;
  color: #303133;
  padding-top: 19px;
}
.wrapper .culture {
  background-color: white;
}
.wrapper .football {
  background-color: white;
  color: white;
}
.wrapper .football p {
  font-size: 27px;
}
.wrapper .football .title {
  padding-bottom: 6%;
}
.wrapper .football .title h5 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
}
.wrapper .football .title p {
  color: white;
  font-size: 25px;
}
.wrapper .football .historybox .imgthumb img {
  border-radius: 5px;
}
.wrapper .football .historybox p {
  color: white;
  font-weight: 800;
  line-height: 1.3;
  font-size: 25px;
}

.footerr {
  background-color: #101213;
  color: white;
  padding-top: 10%;
}
.footerr .foobx h6 {
  font-size: 40px;
  padding-bottom: 35px;
}
.footerr .foobx p {
  font-size: 18px;
}
.footerr .brndroylty {
  padding-top: 5%;
  padding-bottom: 9%;
  margin-bottom: 0px;
}

@media screen and (max-width: 1080px) {
  .sidetwotext img {
    width: 89%;
  }
  .wrapper .sideone .sidetwotext h2 {
    font-size: 5rem;
  }
  .wrapper .history .historybox .imgthumb {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 636px) {
  .wrapper .sideone .sideoneimg .sidetxt {
    position: absolute;
    left: 0px;
    transform: rotate(0deg);
    top: -66px;
    color: white;
    font-size: 1.8rem;
  }
  .wrapper .sidethree .sidetwotext .sidetxt {
    position: absolute;
    left: 0px;
    transform: rotate(0deg);
    top: -68px;
    font-size: 1.8rem;
  }
  .wrapper .sidelinktwo {
    bottom: 70px;
  }
  .wrapper .sidelinkone {
    bottom: 70px;
  }
  .wrapper .textareabx {
    padding: 0px;
    background-color: #101213;
    padding-top: 30%;
    padding-bottom: 37%;
  }
  .sidetwotext > img {
    margin-top: 5%;
  }
  .wrapper .sideone .sidetwotext h2 {
    padding-top: 43px;
  }
  .footerr {
    text-align: center;
  }
}
@media screen and (max-width: 1195px) {
  .wrapper .sidethree .sidetwotext h2:nth-child(3) {
    font-size: 5rem;
  }
}
@media screen and (max-width: 568px) {
  .wrapper .banner .bannertxt h1 {
    font-size: 5rem;
    line-height: 82px;
    font-weight: 700;
  }
  .wrapper {
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  .wrapper .sidetwo .container {
    padding-top: 25%;
  }
  .wrapper .sidethree {
    padding-top: 28%;
  }
}
@media screen and (max-width: 460px) {
  .wrapper .history .title h5 {
    font-size: 3rem;
  }
  .wrapper .football .title p {
    padding-top: 27px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 440px) {
  .wrapper .sideone .sidetwotext h2 {
    font-size: 3rem;
  }
  .wrapper .banner .bannertxt h1 {
    font-size: 4rem;
    line-height: 75px;
  }
}
@media screen and (max-width: 404px) {
  .wrapper .sidethree .sidetwotext h2:nth-child(3) {
    font-size: 4rem;
  }
  .wrapper .sidethree .sidetwotext h2:nth-child(2) {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 636px) {
  .wrapper .banner .bannertxt h1 {
    font-size: 3rem;
    line-height: 56px;
  }
}/*# sourceMappingURL=style.css.map */